.box {
  border: 5px solid black;
  width: 500px;
}

.item-img {
  width: 400px;
  height: 300px;
}

.main {
  display: flex;
  justify-content: center;
}

.winner-box {
  border: 5px solid rgb(39, 175, 80);
  width: 500px;
}

.loser-box {
  border: 5px solid rgb(202, 38, 38);
  width: 500px;
}
